name: Web Deployment

on:
  push:
    tags:
      - "**"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install binaryen tools and just
      run: |
        sudo apt update
        sudo apt install -y curl just
        curl -LO https://github.com/WebAssembly/binaryen/releases/download/version_125/binaryen-version_125-x86_64-linux.tar.gz
        sudo tar xvf binaryen-version_125-x86_64-linux.tar.gz --strip-components=1 --keep-old-files -C /

    - name: Install wasm32-unknown-unknown target
      run: rustup target add wasm32-unknown-unknown

    - name: Install wasm-bindgen
      run: cargo install wasm-bindgen-cli

    - name: Build wasm
      run: just build-web

    - name: Copy static site artifacts
      run: |
        mkdir ./_site/
        rm -f web/assets
        cp -r web/* ./_site/
        cp -r ./assets ./_site/

    - name: Upload artifacts
      uses: actions/upload-pages-artifact@v4

  deploy:
    permissions:
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}

    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
